<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="create">
    <div class="container">
        <h2>Create Your Event</h2>
        <link rel="stylesheet" href="styles.css">
        <form id="eventForm">
            <div class="form-group">
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" name="eventName" required>
            </div>
            <div class="form-group">
                <label for="eventDate">Event Date:</label>
                <input type="date" id="eventDate" name="eventDate" required>
            </div>
            <div class="form-group">
                <label for="eventTime">Event Time:</label>
                <input type="time" id="eventTime" name="eventTime" required>
            </div>
            <div class="form-group">
                <label for="eventLocation">Event Location:</label>
                <input type="text" id="eventLocation" name="eventLocation" required>
            </div>
            <div class="form-group">
                <label for="eventDescription">Event Description:</label>
                <textarea id="eventDescription" name="eventDescription" required></textarea>
            </div>
            <div class="form-group">
                <label for="targetGoal">Target Fundraising Goal:</label>
                <input type="number" id="targetGoal" name="targetGoal" required>
            </div>
            <button type="submit" class="btn">Create Event</button>
        </form>
    </div>
</section>
