
<header>
    <div class="container">
        <h1>NGO Event Organizer</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a href="create-event.html">Create Event</a></li>
                <li><a href="Event-page.html">Events</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="loginForm" class="modal">
    <form class="modal-content" id="loginFormContent">
        <span class="close" onclick="closeLoginForm()">&times;</span>
        <h2>Login</h2>
        <link rel="stylesheet" href="styles.css">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <div id="usernameLoginError" class="error"></div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div id="passwordLoginError" class="error"></div>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
<script>
    // Function to handle login form submission
document.getElementById("loginFormContent").addEventListener("submit", function(event) {
    event.preventDefault();

    // Get form inputs
    const usernameInput = document.getElementById("username");
    const passwordInput = document.getElementById("password");
    const usernameError = document.getElementById("usernameLoginError");
    const passwordError = document.getElementById("passwordLoginError");

    // Reset previous error messages
    usernameError.textContent = "";
    passwordError.textContent = "";

    // Get values from input fields
    const username = usernameInput.value.trim();
    const password = passwordInput.value.trim();

    // Validate username and password
    let isValid = true;

    if (username === "") {
        isValid = false;
        usernameError.textContent = "Username is required";
    }

    if (password === "") {
        isValid = false;
        passwordError.textContent = "Password is required";
    }

    // If form is valid, proceed with login
    if (isValid) {
        // Simulate checking user credentials (replace with actual backend logic)
        const storedUsername = "example_user";
        const storedPassword = "password123";

        if (username === storedUsername && password === storedPassword) {
            // Display success message (replace with actual success message)
            alert("Login successful! Welcome back, " + username + ".");
            // Clear form inputs
            usernameInput.value = "";
            passwordInput.value = "";
            // Close login form
            closeLoginForm();
        } else {
            // Display error message for incorrect credentials
            usernameError.textContent = "Invalid username or password";
        }
    }
});

// Function to close login modal
function closeLoginForm() {
    const loginModal = document.getElementById('loginForm');
    loginModal.style.display = "none";
}

</script>
