
/* Basic styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('./images/ngo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

#hero h2 {
    font-size: 36px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Features section */
#features {
    padding: 80px 0;
    background-color: #f9f9f9;
}

#features h2 {
    text-align: center;
    margin-bottom: 50px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feature h3 {
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    color: #666;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Centering the login form */
.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto; /* Center horizontally */
}

/* Styling form elements */
.modal-content label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal-content button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Form styles */
#create {
    background-color: #f9f9f9;
}

#create form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Event styles */
#events {
    background-color: #f9f9f9;


}

#eventsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.event {
    width: calc(50% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.event p {
    margin: 5px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .feature {
        flex-basis: calc(50% - 20px);
    }

    #hero {
        padding: 150px 0;
    }

    .modal-content {
        max-width: 300px;
    }

    /* Adjustments for smaller devices */
    #features h2 {
        font-size: 24px;
    }

    .btn {
        font-size: 14px;
    }

    .feature img {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .feature {
        flex-basis: calc(100% - 20px);
    }

    #hero {
        padding: 120px 0;
    }

    #features h2 {
        font-size: 20px;
    }
}
